<%= form_tag(searches_search_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search for...", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-success glyphicon glyphicon-search',:name => nil %>  
    </div>  
  </div>  
<% end %>